body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #ceb08e; 
  background: -webkit-linear-gradient(#ebdfd3, #ceb08e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ebdfd3, #ceb08e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ebdfd3, #ceb08e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ebdfd3, #ceb08e); /* Standard syntax */
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.jumbotron h3 {
  color: green;
}

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.container-narrow > hr {
  margin: 2rem 0;
}



/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  border-radius: 15px;
}

h1 {
  color: #eceeef;
}

h3 {
  position: relative;
  margin-left: -20px;
}

.portray {
  position: relative;
  float: left;
  margin-top: -35px;
  margin-right: 0;
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  filter: grayscale(60%);
  -webkit-filter: drop-shadow(8px 8px 10px #999999);
  -moz-filter: drop-shadow(8px 8px 10px #999999);
  -o-filter: drop-shadow(8px 8px 10px #999999);
  filter: drop-shadow(8px 8px 10px #999999);
}

.title {
  position: relative;
  margin-right: 80px;
}

.randomQuote {
  width: 100%;
  min-height: 200px;
  margin: 10px 10px 10px -40px;
  padding: 50px;
  text-align: center;
  font-size: 2.1em;
  font-family: 'Great Vibes', cursive;
}

.jumbotron .btn {
  padding: 10px 20px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #4caf50;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: #3e8e41;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}



